<div class="header">
    <div class="header__logo">CALEYlog</div>
    <div class="header__nav">
        <ul>
            <li>Sign in</li>
            <li>Logbook</li>
            <li>Logout</li>
        </ul>
    </div>
</div>