html
  include includes/head.pug
  body
    include includes/navbar.pug

    div.wrap.wrap--minHeight
      div.user


    script(type="text/javascript" src="/js/logbook.js")
    include includes/footer.pug